@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--vscode-editor-font-family);
}

.screenshot {
  color: var(--screendown-text);
  max-width: 100%;
  max-height: 100%;

  h1 {
    color: var(--screendown-text);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
  }

  h2 {
    color: var(--screendown-text);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;
  }

  h3 {
    color: var(--screendown-text);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
  }

  p {
    color: var(--screendown-text);
    margin-bottom: 16px;
  }

  a, a:hover, a:visited {
    color: var(--screendown-link);
  }
}